* {
    box-sizing: border-box;      
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }


    header {
    padding: 30px;
    text-align: center;
    background: radial-gradient(circle,rgba(62, 182, 230, 0.836)  0%,rgb(155, 140, 240)  100%);
    color: rgb(12, 11, 11);
  }


ul {
        font-size: 20px;
   }
  
 .start-button{
     font-size: 20px;
 }

  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
   }
  
  .card {
    background:radial-gradient(circle,rgba(62, 182, 230, 0.836)  0%,rgb(155, 140, 240)  100%);
    border: 1px solid #eceff1;
    border-radius: 8px;
    margin: auto;
    padding: 20px;
  }
  
  #timer {
    height: 50px;
    padding: 10px;
    background: #edebf3;
    color: black;
    text-align: center;
  }
  
  .timer-text {
    font-size: 20px;
    padding: 25px;
  }

   .option-container{
    display: flex;
    justify-content: space-around; 
    margin: 40px;
    padding: 5px;
    width: 90%;
    height: 140%;
    background-color:   rgb(155, 140, 240);
}

button.option{    
    padding: 5px;
    width: 150px;
    height: 120px;
    font-size: larger;
    background-color: lightskyblue;
    border-radius: 15%;
}
.option:hover{
    background-color: lightgoldenrodyellow;}

h3{
    font-size: 20px;
}
 
  section {
      font-size: 22px;
    flex: 0 auto;
    padding: 18px;
    margin-top: 60px;
    background-color: white;
    border-radius: 8px;
  }
  
.container{
font-size: 22px;
  flex: 0 auto;
  padding: 18px;
  margin-top: 60px;
  background-color: white;
  border-radius: 8px;
}

  .results {
    width: 30vw;
    height: 400px;
  }
  


  
  @media screen and (max-width: 1183px) {
    main {
      flex-direction: column;
    }
  
    .first-question,
    .results {
      width: 90vw;
    }
  
    section {
      background-color: white;
      margin: 20px auto;
      width: 92vw;
    }
  }
  
  @media screen and (max-width: 504px) {
    .title {
      font-size: 2em;
    }
  
    .reset-button {
      font-size: 12px;
      width: 20px;
      
    }
  
    .timer {
      height: 200px;
    }
  
  }